input.selectFileButton {
  cursor: pointer;
  display: none;
}


.submitButton {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(250, 150, 0);
  border-radius: 4px;
  overflow:hidden;
  
}

.submitButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
}
