.title {
  background-color: #4d3713;
}

h1 {
  font-family: 'Mogra', cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 62px;
  color: white;
  margin-bottom: 2%;

}

.file_upload {
  position: relative;
  margin: 10px 0px 0px 200px;
}

input.selectFileButton {
  cursor: pointer;
  display: none;
}

.submitButton {
  background-color: white;
  color: black;
  border: 2px solid rgb(250, 150, 0);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  margin: -70px 0px 0px -120px;
  font-size: 15px;
  font-family: 'Reenie Beanie', cursive;
}

.submitButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
  cursor:pointer;
}

.navButton {
  background-color: rgb(250, 150, 0);
  color: #4d3713;
  border: 8px solid rgb(250, 150, 0);
  border-radius: 2px;
  cursor:pointer;
  font-family: 'Reenie Beanie', cursive;
  font-size: 20px;
}

.navButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
  cursor:pointer;
}

.infoTxt {
  font-family: 'Reenie Beanie', cursive;
  margin-top: -22px;
}

.error_msg p {
  position: relative;
  color: orangered;
  margin-top: -2px;
}

.navigation {
  margin-top: 10px;
  font-family: 'Reenie Beanie', cursive;
}