.title {
  background-color: #4d3713;
}

h1 {
  font-family: 'Leckerli One', cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 54px;
  color: white;
  margin-bottom: 1%;

}

#image {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
}

.file_upload {
  position: relative;
  margin: 6px 0px 0px 200px;
}

input.selectFileButton {
  cursor: pointer;
  display: none;
}

.submitButton {
  background-color: white;
  color: black;
  border: 2px solid rgb(250, 150, 0);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  margin: -70px 0px 0px -150px;
  font-size: 30px;
  font-family: 'Reenie Beanie', cursive;
}

.submitButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
  cursor:pointer;
}

.navButton {
  background-color: rgb(250, 150, 0);
  color: #4d3713;
  border: 8px solid rgb(250, 150, 0);
  border-radius: 2px;
  cursor:pointer;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  font-weight: bold;
}

.navButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
  cursor:pointer;
}

.infoTxt {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  margin-top: -40px;
}

.usage p {
  position: relative;
  color: black;
  margin-top: -8px;
  font-size: 14px;
}

.error_msg p {
  position: relative;
  color: orangered;
  margin-top: -10px;
  font-size: 14px;
}

.navigation {
  margin-top: 0px;
  font-size: 30px;
  font-family: 'Reenie Beanie', cursive;
}