<div class="title">
  <h1>
    {{title}}
  </h1>
</div>
<form >
  <div style="text-align:center; margin-left: 17%">
    <label for="file" style="cursor:pointer">
      <img src="./assets/pilz_upload.jpg" />
    </label>
    <input type="file" id="file" name="file" class="selectFileButton">
    <br>
    <input type="submit" (click)="uploadImage()" value="Upload image" class="submitButton">
  </div>
</form>
<div class="infoTxt">
    <p>{{ info.match }} <br>
    {{ info.name }}     <br>
    {{ info.edible}}    <br></p>
</div>
<div style="text-align:center; margin-top: 7%;">
  <input type="submit" value="Wiki" class="navButton">
  <input type="submit" value="Yummly" class="navButton">
  <input type="submit" value="Help" class="navButton">
</div>




