.title {
  text-align: center;
  margin-right: 10%;
}

h1 {
  font-weight: bolder;
  font-size: 42px;
  color: #4d3713;
}

.file_upload {
  text-align:center;
  margin-left: 17%;
}

input.selectFileButton {
  cursor: pointer;
  display: none;
}


.submitButton {
  background-color: white;
  color: black;
  border: 2px solid rgb(250, 150, 0);
  border-radius: 4px;
  overflow:hidden;
  cursor:pointer;
}

.submitButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
  cursor:pointer;
}

.navButton {
  background-color: rgb(250, 150, 0);
  color: #4d3713;
  border: 1px solid rgb(250, 150, 0);
  border-radius: 4px;
  cursor:pointer;
  font-size: 20px;
}

.navButton:hover {
  background-color: rgb(250, 150, 0);
  color: white;
  cursor:pointer;
}

.infoTxt {
  position: relative;
}

.error_msg {
  position: relative;
}

.error_msg p {
  position: absolute;
  left: 50%;
  margin-right: -20%;
  margin-top: 1%;
  color: orangered;
}


.infoTxt p {
  position: absolute;
  left: 50%;
  margin-right: -20%;
  margin-top: 4%;
  transform: translate(-50%, -50%);
}

.navigation {
  text-align:center;
  margin-top: 8%;
}
