<link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet"> 
<div fxLayout='column' fxLayoutAlign="center stretch" class="title">
  <h1>
    {{ title }}
  </h1>
</div>
<div fxLayout='column' fxLayoutAlign="space-between center">
<form >
  <div fxFlex="1 50% 100%" class="file_upload" >
    <label for="file" style="cursor:pointer">
      <img src="./assets/fungusdynamic.png" width="120" />
    </label>
    <input type="file" id="file" name="file" class="selectFileButton" (change)="readUrl($event)"> 
    <br>   
    <input type="submit" (click)="uploadImage()" value="Upload image" class="submitButton">
  </div>
</form>
<ng4-loading-spinner> </ng4-loading-spinner>
<div fxFlex="1 50% 100%">
  <img [src]="url" id="image" onerror="this.src='./assets/placeholder.png'" />  
</div>  
<div fxFlex="1 50% 100%" class="usage">
  <p>
    {{usageMsg}} <br>
  </p>
</div>
<div fxFlex="1 50% 100%" class="error_msg">
  <p>
    {{errorMsg}} <br>
  </p>
</div>
<div fxFlex="1 50% 100%" class="infoTxt">
    <p>
      {{ info.match }}     <br>
      {{ info.name  }}     <br>
      {{ info.edibility}}  <br>
    </p>
</div>
<div fxFlex="1 50% 100%" class="navigation">
  <nav>
    <input type="submit" routerLink="/wiki" value="Wikipedia" class="navButton">
    <input type="submit" routerLink="/yummly" value="Yummly" class="navButton">
    <input type="submit" routerLink="/help" value="Help"   class="navButton">
  </nav>
</div>
<router-outlet></router-outlet>
</div>




